{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'formulario.css' %}">
    <title>Registro de Evento Académico</title>
</head>
<body>

    {% include 'navbar.html' %}  <!-- Se incluye el navbar -->

    <h2>Registro de Evento Académico</h2>

    <div class="container">
        <form action="{% url 'registrar_evento_academico' %}" enctype="multipart/form-data" method="POST" class="form">

            {% csrf_token %}

            <label>Juez:</label>
            <input type="text" value="{{ request.user.juez.nombres }} {{ request.user.juez.apellidos }}" disabled class="input">

            <!-- Selección de Estudio de Perfeccionamiento -->
            <input type="hidden" id="estudio_perfeccionamiento" name="estudio_perfeccionamiento" value="6">

            <!-- Nombre del Evento -->
            <label for="nombre">Nombre del Evento:</label>
            <input type="text" id="nombre" name="nombre" required class="input">

            <!-- Año del Evento -->
            <label for="anio">Año del Evento:</label>
            <input type="number" id="anio" name="anio" required class="input" min="2019" max="2025">

            <label for="documento">Documento:</label>
            <input type="file" id="documento" name="documento" accept="application/pdf" class="input">
            
            <!-- Campo oculto para el Puntaje -->
            <input type="hidden" id="puntaje" name="puntaje" value="0.25">

            <input type="submit" value="Registrar Evento Académico" class="login-button">
        </form>
    </div>

</body>
</html>
